<% content_for(:header_greeting) do %>
Facilities:
<%end%>

<h3>New classroom</h3>

<%= render 'form' %>

<div class="announcements login">
<%= link_to 'Back', courses_path, class:"edit_delete" %>
</div>