<% content_for(:header_greeting) do %>
Overview:
<%end%>


<h3><%="Schedule for #{@site.name}: #{@duration} days, starting #{@start_date.to_s(:long)}"%></h3>




<% grouped_lessons = @lessons.group_by(&:classroom_id) %>
<%@classrooms.each_slice(2) do |batch| %>
<div class="row">

<% batch.each do |classroom| %>

  <div class="span6">
   <div class="classroom_view">
  <h4><%=classroom.name%></h4>
  <% lessons = grouped_lessons[classroom.id] %>
  <% if lessons %>
  <ul>
  <% lessons.each do |lesson| %>
    <li>
    <%=link_to "#{lesson.lesson_date.to_s(:long)}, #{lesson.time_slot} session: #{lesson.course.name}", edit_course_path(lesson.course) %>
  </li>
  <%end%>
</ul>
<%end%>
</div>
</div>
<%end%>
</div>
<%end%>
