<h1><%="Schedule for #{@site.name}"%></h1>




<% grouped_lessons = @lessons.group_by(&:classroom_id) %>
<%Classroom.all.each_slice(3) do |batch| %>
<div class="row">

<% batch.each do |classroom| %>

  <div class="span4">
   <div class="classroom_view">
  <%=classroom.name%>
  <% lessons = grouped_lessons[classroom.id] %>
  <% if lessons %>
  <ul>
  <% lessons.each do |lesson| %>
    <li>
    <%=link_to "#{lesson.lesson_date.to_s(:long)}, #{lesson.time_slot} session: #{lesson.course.name}", edit_course_path(lesson.course) %>
  </li>
  <%end%>
</ul>
<%end%>
</div>
</div>
<%end%>
</div>
<%end%>
