<% content_for(:header_greeting) do %>
Courses:
<%end%>


<h3>Edit Course Details</h3>

<%= render 'form' %>

<div class="announcements login">
<%= link_to 'Back', root_path, class:"edit_delete" %>
</div>