// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$title_font: 'Passion One', cursive;
$head_font: 'Noto Sans', sans-serif;
$script_font: 'Alex Brush', cursive;
$ga_red:#FF1538;
$box_red: rgba(255,186,186,1);
$box_blue: rgba(188, 229, 248,1);
$ga_blue: rgba(0,82,155,1);
$ga_grey: #EAE2DF;

    #error_explanation {
      color: $ga_red;
      margin-left: 10px;
    }

  #error_explanation h5 {
      margin: 0;

  }

    .flash-message {
      text-align: center;
      background: white;
      font-family: $head_font;
      color: $ga_red;
      margin: auto;
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
      font-size: 80%;
      display: inline-block;
      border: 1px solid $ga_red;
      font-weight: bold;
    }

    #flash {
      text-align: center;
    }

    body {
      background: image_url('wood-wall.jpg') no-repeat center center fixed;
    background-size: cover;;
    }
    .container {

      background:rgba(255,255,255, 0.9);
      box-shadow: 0px 0px 20px 5px $ga_grey;
      margin-bottom: 50px;
         }

    .titlebar {
      background: image_url('horizon.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 210px;
      position: relative;
      padding:5px;
      border-bottom: 10px solid $ga_red;
    }

    .titlebar h1 {
      color: #FFFFFF;
      padding-top: 75px;
      padding-left: 60px;
      padding-bottom: 5px;
      font-size: 80px;
      text-shadow: 0.0em 0.0em 0.2em #FFFFFF;
      font-family: $head_font;
    }
    .titlebar p {
      color: #FFFFFF;
      padding-left: 60px;
      text-shadow: 0.1em 0.1em 0.2em black;
      font-family: $head_font;
      font-size: 120%;
      padding-right: 400px;
    }

    #user_profile {
      display: block;
      margin-right: 10px;
    }

    #user_profile_image {
      float: right;
      margin: 10px;
      border: 1px solid $ga_grey;
      box-shadow: 0px 0px 20px 5px $ga_grey;

    }

    .ga_logo {
      position: absolute;
      height: 30px;

     }

    .sign_in {
      color: white;
      float:right;
      text-decoration: none;
      text-shadow: 0.1em 0.1em 0.2em black;
    }

    .sign_in a {
      color: white;
      text-decoration: none;
      text-shadow: 0.1em 0.1em 0.2em black;
      font-family: $head_font;
    }

  .sign_in a:hover, :focus {
      text-decoration: underline;
    }


    h3{
      font-family: $head_font;
      font-size: 150%;
      border-bottom: 2px solid $ga_red;
      font-weight: bold;
      margin: 5px;
    }

    h4{
      font-family: $head_font;
      font-size: 120%;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 0px;
      border-bottom: 1px solid $ga_grey;
      background: white;
    }

    h4 a {
      color: black;

    }

    li {
      list-style: none;

          }

    ul {
      margin-left: 5px;
    }

    .announcements {
      box-shadow:rgba(0,0,0,0.1) 0px 0px 24px;
      border-radius: 10px;
      padding: 2px;
      margin: 5px;
      font-size: 90%;
      text-align: center;
      background-color: white;
     }

     .announcements h3 {
      text-align: center;
     }

     .announcements li a {
      color: grey;
      font-weight: bold;

            }

     .announcements li {
      text-align: left;
      background: $ga_grey;
      padding: 2px;
      border-radius: 5px;
      margin: 3px;
     }

     .navbox {
      box-shadow:rgba(0,0,0,0.1) 0px 0px 24px;
      border-radius: 10px;
      margin: 5px;
      background-color: white;
     }



    h4.course_list {
      color: $ga_red

    }

    li a {
      text-decoration: none;
    }

    .warning {
      border: 1px solid $ga_red;
      border-radius: 10px;
      background-color: $box_red;
      margin: 5px;
      padding: 2px;
      color: $ga_red;
      font-size: 80%;
      font-weight: bold;
      box-shadow:rgba(0,0,0,0.2) 0px 0px 24px;
      text-align: center;
    }

    .warning a {
      text-decoration: none;
      color: $ga_red;
    }

    .warning a:hover, :focus {
      text-decoration: underline;
    }

    .warning p {
     text-decoration: underline;
    }

    .classroom_view {
      display: inline-block;
      border: 1px solid $ga_grey;
      min-height: 200px;
      min-width: 93%;
      margin: 10px;
      border-radius: 5px;
      padding: 5px;
      box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
      background: image_url('white_wall.png');
    }

    .classroom_view li {
      margin-left: 5px;

    }


    li p.course_info {
      margin-left: 15px;
      margin-right: 20px;
      margin-bottom: 0px;
      font-size: 110%;
    }

    li p.course_info2 {
      margin-left: 15px;
      margin-right: 20px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-size: 90%;
      text-align: right;
      border-bottom: 1px solid $ga_grey;
    }

    .login {
      width:400px;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 10px;
    }

  .mini_course_image {
    float: right;
    display: inline-block;
  }

  li.bullet_list {
    border-bottom: 1px solid $ga_grey;
    margin-right: 20px;
  }

  .form_fields {
    box-shadow:rgba(0,0,0,0.1) 0px 0px 24px;
      border-radius: 10px;
      padding: 2px;
      margin: 5px;
      font-size: 90%;
      background-color: white;
      padding: 10px;

  }

  .form_fields .text_area {
    height: 200px;
  width: 97%;
  max-width: 97%;
  }

.form_fields p {
  margin-left: 10px;
  text-align: justify;
}

.form_fields li {
  margin-left: 10px;


}
  .lesson {
    border-bottom: 2px solid $ga_red;
    margin-bottom: 4px;
  }

  #edit_course {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 10px;
    float: right;
  }
.show_course {
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

input {
  text-decoration: none !important;
}

input[type="submit"] {
    margin-bottom:10px;
    border-radius: 5px;
    border: none;
    color: $ga_red;
    font-weight: bold;
    border: 1px solid $ga_red;
    background: white;
    font-size: 80%;

}

input[type="submit"]:hover {
  background: $ga_red;
  color: white;
  border: 1px solid $ga_red;
}



select {
  color: black;
  border-radius: 5px;
  background: white;

}

.enroll {
  margin-left: 10px;
}

.searchbar {
  margin-left: 5px;
  position: absolute;
  top:5px;
  right: 5px;
}

.new_user_bar {
  margin-left: 5px;
  position: absolute;
  top:12px;
  left: 270px;
}


.future_courses_bar {
  position: relative;
}

.users_section {
  position: relative;
}


.woops {
  margin-left: 10px;
}


a.button {
  color: $ga_red;
  font-size: 80%;
  font-weight: bold;
  background-color: white;
  border: 1px solid $ga_red;
  border-radius: 5px;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  margin-bottom: 5px;
}

a.button:hover {
   background: $ga_red;
  color: white;
  border: 1px solid $ga_red;
}

a.edit_delete {

  color: grey;
  font-size: 80%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;

}

a.edit_delete:hover {
   background: black;
  color: white;
  border: 1px solid black;
}

a.announcement_line {
  text-decoration: none;
  display: block;
  word-wrap: break-word;

  font-size: 100%;
  width: 85%;
  line-height: 150%;
}

.announcement_list {
      box-shadow: rgba(0,0,0,0.1) 0px 0px 24px;
      border-radius: 10px;
      padding: 5px;
      margin: 5px;
      background-color: white;
      position: relative;


     }

.divider {
  border-bottom: 1px solid $ga_grey;
}

a.top_right {
  position: absolute;
  top: 5px;
  right: 5px;
}

#announcement_announcement_text {
  width: 98%;
}

.user_row {
  margin-left: 10px;
  margin-top: 3px;

}

.site_list {
      box-shadow: rgba(0,0,0,0.1) 0px 0px 24px;
      border-radius: 10px;
      padding: 5px;
      margin: 5px;
      background-color: white;
      position: relative;
      display: inline-block;
}

.site_centerer {
  text-align: center;
 width: 100%;
}

.window {
  text-align: center;
}


